<div class="spacer"></div>
<!-- Espaciador para empujar los elementos hacia la derecha -->
<a class="scroll-link" href="#quienesSomos">Quiénes Somos</a>
<span class="space-between"></span>
<!-- Espacio en blanco -->
<a class="scroll-link" href="#esSimple">Es Simple</a>
<span class="space-between"></span>
<!-- Espacio en blanco -->
<a class="scroll-link" href="#beneficios">Beneficios</a>
<span class="space-between"></span>
<!-- Espacio en blanco -->

<img
src="assets/logo.png"
alt="Logo de la aplicación"
class="toolbar-image"
style="max-width: 150px; max-height: 150px"
/>

<mat-toolbar>
<div id="quienesSomos">
    <!-- Contenido de la sección Quiénes Somos -->
  </div>

  <div id="esSimple">
    <!-- Contenido de la sección Es Simple -->
  </div>

  <div id="beneficios">
    <!-- Contenido de la sección Beneficios -->
  </div>


<body>
  <div class="background-image">
    <div class="centered-content">
      <h1 class="title">¿Quieres algo del extranjero?</h1>
      <p class="p1">Un turista te lo traerá</p>
      <div class="button-container">
        <div class="button-text">
          <button class="button" style="padding: 15px 25px; margin-right: 80px">
            Registrarme
          </button>
          <p class="text-below-button; p2">Soy nuevo no tengo cuenta</p>
        </div>
        <div class="button-text" >
          <button class="button" style="padding: 15px 25px" routerLink="/login">
            Iniciar Sesión
          </button>
          <p class="text-below-button; p3">Ya tengo cuenta</p>
        </div>
      </div>
    </div>
  </div>
</body>
</mat-toolbar>