<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
        <!-- Contenedor del logotipo -->
        <div class="logo">
          <img src="assets/logo.png" alt="Logo de la empresa" />
        </div>

        <!-- Contenedor del formulario -->
        <div class="form-container">
          <h2 class="header">Inicie sesión</h2>

          <mat-form-field class="example-full-width">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Username" [(ngModel)]="username" />
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width">
            <mat-label class="submit-button">Password</mat-label>
            <input
              type="password"
              matInput
              placeholder="Password"
              [(ngModel)]="password"
            />
          </mat-form-field>
          <br />
          <div class="submit-button">
            <button mat-stroked-button color="black" (click)="login()">
              Ingresar
            </button>
          </div>
        </div>
      </div>
  </body>
</html>
