<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <br/>
    <div><h2 style="text-align: center">Search Users</h2></div>
    <div [formGroup]="fechaForm" class="container">
      <mat-form-field>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="Select a date"
          formControlName="Date"
          [max]="maxFecha"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
       
        
      </mat-form-field>
      <button (click)="buscar()" mat-stroked-button color="primary" style="margin-left: 20px;">Search</button>
    </div>

    <div class="container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 my-custom-table">
        <!-- Position Column -->
        <ng-container matColumnDef="idUser">
            <th mat-header-cell *matHeaderCellDef> idUser </th>
            <td mat-cell *matCellDef="let element"> {{element.idUser}} </td>
          </ng-container>
    
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
    
          <ng-container matColumnDef="email" class="mat-column-email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container> 
    
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Phone </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
          </ng-container>
    
          <ng-container matColumnDef="birthday">
            <th mat-header-cell *matHeaderCellDef> Birthday </th>
            <td mat-cell *matCellDef="let element"> {{element.birthday | date : "d MMMM y"}} </td>
          </ng-container>
    
          <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef> Country </th>
            <td mat-cell *matCellDef="let element"> {{element.country}} </td>
          </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      
    </div>
    <div class="container">
        <!-- ... tu código existente ... -->
        <div *ngIf="mensaje" style="color: red; margin-top: 10px;">{{ mensaje }}</div>
      </div>
     
  </body>
</html>

