<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container" style="text-align: center">
      <!-- Contenedor del logotipo -->
      <div class="logo">
        <img src="assets/chat.png" alt="Logo de la empresa" />
      </div>
      <div class="form-container">
        <div class="container" style="text-align: center">
          <div class="body-inicio">
            <br />
            <h2 class="header">Chat Message</h2>
            <form [formGroup]="form" (submit)="accept()" class="example-form">
              <br />

              <mat-form-field class="example-full-width">
                <mat-label>Title</mat-label>
                <input matInput placeholder="Title" formControlName="title" />
                <mat-error
                  *ngIf="obtenerControlCampo('title')?.errors?.['required']"
                >
                  El título es obligatorio.
                </mat-error>
              </mat-form-field>
              <br />

              <mat-form-field class="example-full-width">
                <mat-label>Message</mat-label>
                <textarea
                  matInput
                  placeholder="Ex. It makes me feel..."
                  formControlName="content"
                ></textarea>
                <mat-error
                  *ngIf="obtenerControlCampo('content')?.errors?.['required']"
                >
                  El mensaje es obligatorio.
                </mat-error>
              </mat-form-field>
              <br />
              <br />

              <mat-form-field class="example-full-width">
                <mat-label>User Send</mat-label>
                <mat-select
                  [(value)]="idUserSeleccionada1"
                  formControlName="userSend"
                >
                  <mat-option *ngFor="let p of listaUsers" [value]="p.idUser">
                    {{ p.name }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="obtenerControlCampo('userSend')?.errors?.['required']"
                >
                  El usuario enviado es obligatorio.
                </mat-error>
              </mat-form-field>

              <br />

              <mat-form-field class="example-full-width">
                <mat-label>User Receive</mat-label>
                <mat-select
                  [(value)]="idUserSeleccionada2"
                  formControlName="userReceive"
                >
                  <mat-option *ngFor="let p of listaUsers" [value]="p.idUser">
                    {{ p.name }}
                  </mat-option>
                </mat-select>
                <mat-error
                  *ngIf="obtenerControlCampo('userReceive')?.errors?.['required']"
                >
                  El usuario recibido es obligatorio.
                </mat-error>
              </mat-form-field>

              <br />

              <button
                mat-raised-button
                color="basic"
                style="margin-right: 20px"
              >
                Enviar mensaje
              </button>
              <button
                mat-raised-button
                color="accent"
                routerLink="/components/Messages"
              >
                Cancelar mensaje
              </button>
              <br />
              <p>{{ mensaje }}</p>
              <br />
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
  <body></body>
</html>
