

  <mat-menu #menuUser="matMenu">
    <button mat-menu-item routerLink="/Users/new" class="custom-menu">
      Add User
    </button>
    <button mat-menu-item routerLink="/Users" class="custom-menu">
      User List
    </button>
    <button mat-menu-item routerLink="/Users/search" class="custom-menu">
      Search User
    </button>
    <!-- Agrega más elementos de menú para "User" si es necesario -->
  </mat-menu>

  <mat-menu #menuProduct="matMenu">
    <button mat-menu-item routerLink="/Products/new" class="custom-menu">
      Add Product
    </button>
    <button mat-menu-item routerLink="/Products" class="custom-menu">
      Product List
    </button>
  </mat-menu>

  <mat-menu #menuOrders="matMenu">
    <button mat-menu-item routerLink="/Orders/new" class="custom-menu">
      Add Order
    </button>
    <button mat-menu-item routerLink="/Orders" class="custom-menu">
      Order List
    </button>
  </mat-menu>

  <mat-menu #menuMessage="matMenu">
    <button mat-menu-item routerLink="/Messages/new" class="custom-menu">
      Add Message
    </button>
    <button mat-menu-item routerLink="/Messages" class="custom-menu">
      Message List
    </button>
  </mat-menu>

  <mat-menu #menuNotification="matMenu">
    <button mat-menu-item routerLink="/Notifications/new" class="custom-menu">
      Add Notification
    </button>
    <button mat-menu-item routerLink="/Notifications" class="custom-menu">
      Notification List
    </button>
    <!-- Agrega más elementos de menú para "User" si es necesario -->
  </mat-menu>

  <mat-menu #menuCategory="matMenu">
    <button mat-menu-item routerLink="/Categories/new" class="custom-menu">
      Add Category
    </button>
    <button mat-menu-item routerLink="/Categories" class="custom-menu">
      Category List
    </button>
    <!-- Agrega más elementos de menú para "User" si es necesario -->
  </mat-menu>

  <mat-menu #menuRole="matMenu">
    <button mat-menu-item routerLink="/Roles/new" class="custom-menu">
      Add Role
    </button>
    <button mat-menu-item routerLink="/Roles" class="custom-menu">
      Role List
    </button>
    <!-- Agrega más elementos de menú para "User" si es necesario -->
  </mat-menu>

  <mat-menu #menuForum="matMenu">
    <button mat-menu-item routerLink="/Forums/new" class="custom-menu">
      Add Forum
    </button>
    <button mat-menu-item routerLink="/Forums" class="custom-menu">
      Forum List
    </button>
    <!-- Agrega más elementos de menú para "User" si es necesario -->
  </mat-menu>

  <mat-menu #menuRecord="matMenu">
    <button mat-menu-item routerLink="/Records/new" class="custom-menu">
      Add Record
    </button>
    <button mat-menu-item routerLink="/Records" class="custom-menu">
      Record List
    </button>
    <!-- Agrega más elementos de menú para "User" si es necesario -->
  </mat-menu>


<mat-menu #menuSalir="matMenu">
  <button mat-menu-item routerLink="/login" (click)="cerrar()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
  <button mat-menu-item>
    Rol:
    <span>{{ role }}</span>
  </button>
  <!-- Agrega más elementos de menú si es necesario -->
</mat-menu>

<router-outlet></router-outlet>
